.out-article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.in-article {
  width: 768px;
}

.article-img {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.article-title {
  margin-top: 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.article-author {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: #252525;
}

.article-author-box {
  display: flex;
  align-items: center;
  border-radius: 25px;
  height: 32px;
  padding: 8px;
}

.article-author-box:hover {
  background-color: #8682a925;
}

.article-author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.article-author-box > span {
  font-size: 16px;
  color: #252525;
  margin: 0 10px;
}

.article-summary {
  margin-top: 40px;
}

.article-summary > p {
  color: #252525;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 20vh; /* 视口高度的20% */
}