
header {
    top: 0;
    margin: 20px 0;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
}

.header-logo {
    height: 50px;
    margin-left: 50px;
    display: flex;
}

.logo {
    display: flex;
    place-items: center;
    white-space: nowrap;
    font-weight: bold;
}

img {
    width: 55px;
    height: 50px;
}

a {
    text-decoration: none;
    place-items: center;
    white-space: nowrap;
    color: black
}


span {
    margin-left: 5px;
    font-size: 20px;
}

nav {
    display: flex;
    margin-left: 20px;
    place-items: center;
    white-space: nowrap;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
}

.menu-right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
}