.login {
    margin-left: 20px;
}
.login-button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid;
    background-color: white;
    color: #6B7280;
}

.login-button:hover {
    cursor: pointer;
    color: #3B82F6;
    border-color: #3B82F6;
}

.header-user-avatar {
    width: 32px;
    height: 32px;
    border: 18px;
}