.user-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-in {
  width: 1300px;
  padding-top: 60px;
}

.user-header {
  display: flex;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

.user-header img {
  width: 92px;
  height: 92px;
}

.user-header > div:first-child {
  display: flex;
  align-items: center;
}

.user-header > div > span {
  margin-left: 20px;
  font-size: 32px;
}

.user-header > div > button {
  height: 42px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 21px;
  transition: all 0.2s ease-out;
  background-color: rgba(134, 130, 169, 0.1451);
  font-size: 16px;
  border: none;
  color: rgba(90, 90, 90);
}

.user-header > div > button:hover {
  cursor: pointer;
  background-color: rgba(134, 130, 169, 0.27059);
}

.user-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.user-container-left {
  width: 20%;
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

.user-container-right {
  width: 70%;
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

.user-container-follow {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container-follow > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container-follow > div:first-child {
  border-right: 1px solid #e5e5e5;
  padding-right: 40px;
}

.user-container-follow > div:last-child {
  padding-left: 40px;
}

.user-container-follow > div > div:first-child {
  color: #262626bf;
}

.user-container-follow > div:hover {
  cursor: pointer;
}

.user-container-alter > button {
  border: none;
  border-radius: 8px;
  color: #262626bf;
  width: 100%;
  height: 40px;
}

.user-container-alter > button:hover {
  cursor: pointer;
  color: #2db55d;
  background-color: rgba(45, 181, 93, 0.08);
}

.user-container-info {
  padding-top: 20px;
}

.user-container-info > div {
  margin-top: 20px;
  font-size: 14px;
  color: #262626bf;
}

.user-container-info > div:first-child {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.user-container-info > div:last-child > div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.user-container-info > div:last-child > div > div {
  padding-left: 10px;
}

.user-container-right > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: bolder;
}

.user-container-right-add:hover {
  color: #2db55d;
  cursor: pointer;
}

.user-container-right-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-container-right-content > div {
  display: flex;
  margin: 20px 15px;
  align-items: end;
}

.user-container-right-content > div > i:hover {
  color: #2db55d;
  cursor: pointer;
}

.user-container-right-content-more {
  display: flex;
  justify-content: center;
}

.user-container-right-content-more > button {
  height: 32px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  background-color: rgba(134, 130, 169, 0.1451);
  font-size: 16px;
  border: none;
  color: rgba(90, 90, 90);
}

.user-container-right-content-more > button:hover {
  cursor: pointer;
  background-color: rgba(134, 130, 169, 0.27059);
}
