.markdown-nav {
  position: fixed;
  left: 0;
  top: 100px;
}

.markdown-nav nav {
  margin: 0;
}

.markdown-nav ul {
  display: block;
  flex-direction: column;
  list-style-type: none;
}

.markdown-nav li {
  width: 250px;
  padding: 0;
}

.markdown-nav a {
  font-size: 14px;
  line-height: 28px;
  display: block;
  padding: 0 50px;
}

.markdown-container h1,
h2,
h3 {
  scroll-margin-top: 100px;
}
