.author-out-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.author-in-container {
  width: 1320px;
}

.author-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.author-header > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-header img {
  width: 82px;
  height: 82px;
  border: 41px;
}

.author-header span {
  font-size: 32px;
  font-weight: bold;
  margin: 12px;
}

.author-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.author-container > * {
  margin: 20px;
}

.author-header button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(45, 181, 93, 0.1);
  color: #2db55d;
}

.author-header button:hover {
  cursor: pointer;
}

.author-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-footer button {
  height: 32px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  background-color: rgba(134, 130, 169, 0.1451);
  font-size: 16px;
  border: none;
  color: rgba(90, 90, 90);
}

.author-footer button:hover {
  cursor: pointer;
  background-color: rgba(134, 130, 169, 0.27059);
}
